.app__header {
  background-color: var(--color-darkblue);
  background-image: url(../../assets/Header-photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  min-height: 100vh;
}

.app__header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7rem;
  font-weight: 20;
}

.app__header h1 span {
  color: var(--color-yellow);
}

.header__social-content img {
  height: 35rem;
  width: 80rem;
}

.header__social-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header__social-content form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 40px;
} */

.app__header-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  margin-right: 100px;
}

form {
  height: 390px;
  width: 290px;

  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

form h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  color: var(--color-darkblue);
  text-decoration: underline;
  text-decoration-color: var(--color-darkblue);
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
}
.input-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 13px;
  border-left: 3px solid #0d1f2b;
  margin-bottom: 20px;
}

.custom-icon {
  width: 32px;
  height: 32px;
  margin-left: 17px;
}

.Form-dash {
  width: 3px;
  height: 29px;
  background: var(--color-darkblue);
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.forgotpassword {
  text-decoration: underline;
  color: var(--color-darkblue);
}

.rememberme input {
  margin-right: 5px;
}

.submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.submitbtn button {
  background: var(--color-darkblue);
  color: white;
  width: 80px;
  height: 31px;
  border-radius: 5px;
  font-weight: bolder;
}

/* input[type="submit"] {
 width: 100%;
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 border-radius: 5px;
} */

/* input[type="submit"]:hover {
 background-color: #45a049;
} */

/* .form-error {
 color: red;
 font-size: 12px;
 margin-top: 5px;
} */

@media screen and (max-width: 1150px) {
  .app__header {
    min-height: 40vh;
  }
}

@media screen and (max-width: 850px) {
  .app__header {
    min-height: 40vh;
  }
}

@media screen and (max-width: 650px) {
  .app__header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    font-weight: 20;
  }

  .app__header {
    background-color: var(--color-darkblue);
    background-image: none;
    min-height: 40vh;
  }
}

@media screen and (max-width: 450px) {
  .app__header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 20;
  }

  .app__header {
    background-color: var(--color-darkblue);
    background-image: none;
    min-height: 60vh;
  }

  .app__header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 85%;
  }
}
